@use '../variables' as v;
@import "RoomBlock";

#roomList {
  margin-top: 30px;

  span {
    color: v.$anchorHover;
  }

  #roomContainer {
    border: 1px solid v.$lightGrey;
    border-radius: 3px;
    padding: 20px;
    margin-top: 10px;
    margin-bottom: 40px;
    display: grid;
    align-items: start;
    justify-items: left;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 30px;
  }
}

@media screen and (max-width: 767px) {
  #roomList #roomContainer {
    margin-bottom: 20px;
    padding: 20px 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 25px;
  }
}